<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    {% endblock %}
  </head>
  <body>
    <nav>
        <span><a href="{% url "landing:home" %}">랜딩</a></span>
        <span><a href="{% url "blog:home" %}">블로그</a></span>
        <span><a href="{% url "blog:write" %}">작성페이지</a></span>
        {% if not user.is_authenticated %}
        <span><a href="{% url "my_accounts:login" %}">로그인</a></span>
        {% else %}
        <span>
          <form action="{% url "my_accounts:logout" %}" method="post">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
          </form>
        </span>
        {% endif %}
    <nav>
        {% block main %}
        {% endblock %}
    <footer>
        푸터입니다
    </footer>
  </body>
</html>