{% extends "blog_samples/base.html" %} {% load static %} {% block css %} <link
href="{% static "my_accounts/css/styles.css" %}" rel="stylesheet" />
<script
  type="text/javascript"
  src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
  charset="utf-8"
></script>
<script
  type="text/javascript"
  src="http://code.jquery.com/jquery-1.11.3.min.js"
></script>
{% endblock %} {% block header %}
<header
  class="masthead"
  style="
    background-image: url('assets/img/home-bg.jpg');
    height: 100px;
    padding: 0px;
  "
>
</header>
<div id="naver_id_login"></div>
<!-- //네이버 로그인 버튼 노출 영역 -->
<script type="text/javascript">
  var naver_id_login = new naver_id_login(
    "oRp8jQLbPgsrity7onLO",
    "http://127.0.0.1:8000"
  );
  var state = naver_id_login.getUniqState();
  naver_id_login.setButton("white", 2, 40);
  naver_id_login.setDomain("http://127.0.0.1:8000");
  naver_id_login.setState(state);
  naver_id_login.setPopup();
  naver_id_login.init_naver_id_login();
  console.log(state);
  console.log(window.location.href);
</script>
{% endblock %}